.scope {
  min-width: 0;
}

@media (min-width: 1024px) {
  .scope :global(.ac-budget-help) {
    display: none !important;
  }

  .scope :global(#form > div:first-child > span:first-child) {
    transform: translateX(-2.25rem);
  }

  .scope :global(#form > div:last-child > button:first-child) {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    text-align: center !important;
  }

  .scope :global(.ac-home-page > div > section.mt-8 > div:first-child > div:first-child > div:first-child) {
    display: none !important;
  }

  .scope :global(.ac-home-page > div > section.mt-8 > div:first-child > div:first-child > h2) {
    margin-top: 0 !important;
  }

  .scope :global(.ac-home-page > div > section.mt-8 > div:first-child > div:first-child > h2 > span) {
    display: none !important;
  }

  .scope :global(.ac-home-page > div > section.mt-8 > div:first-child > div:first-child > h2::after) {
    content: "АвтоКаталог";
  }
}
